.navbar {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #2a475e;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover{
  color: #66c0f4;
}
.navbar-brand:focus,
.navbar-brand:active{
    color: #1b2838
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #66c0f4;
}

.nav-link:active,
.nav-link:focus {
  color: #1b2838
}

.account-logo {
  color: white;
}

.account-logo:hover {
  color: #66c0f4;
}